::selection {
    color: rgb(0, 136, 255);
    background-color: #fff;
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background-image: url('bgc_login.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center center; */
}


.container {
    width: 60rem;
    height: 39rem;
    color: #fff;
    /* background-color: #fff; */
    margin-right: auto;
    margin-left: auto;
    margin-top: 2rem;
    text-align: center;
    /* border-radius: 8px; */
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.045);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.032);
    padding: 10px;
}

.inputlabel {
    position: absolute;
}

#username {
    top: 7rem;
    right: 6rem;
}

#UserName {
    top: 9rem;
    left: 5rem;
    width: 50rem;
    height: 2rem;
    outline: none;
    border: none;
    background-color: #ffffff00;
    color: white;
    border-bottom:1px solid #ffffff;
}

#UserName:focus{
    border-bottom: 1px solid rgb(0, 242, 255);
}

#password {
    top: 13rem;
    right: 6rem;
}

#Password {
    top: 15rem;
    left: 5rem;
    width: 50rem;
    height: 2rem;
    outline: none;
    border: none;
    background-color: #ffffff00;
    color: white;
    border-bottom:1px solid #ffffff;
}

#Password:focus{
    border-bottom: 1px solid rgb(0, 242, 255);
}

#acceptcode {
    top: 19rem;
    right: 6rem;
}

#acceptCode {
    top: 21rem;
    left: 5rem;
    width: 50rem;
    height: 2rem;
    outline: none;
    border: none;
    background-color: #ffffff00;
    color: white;
    border-bottom:1px solid #ffffff;
}

#acceptCode:focus{
    border-bottom: 1px solid rgb(0, 242, 255);
}

#btn {
    top: 30rem;
    right: 6rem;
    width: 50rem;
    height: 3rem;
    background-color: rgb(0, 255, 251);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

#btn:hover {
    background-color: rgb(0, 179, 176);
}

.size-6 {
    color: white;
    position: absolute;
    left: 11.5rem;
    top: 21rem;
    width: 1.7rem;
    cursor: pointer;
}

.size-7 {
    color: #fff;
    width: 1.5rem;
    position: absolute;
    top: 15.5rem;
    left: 5rem;
    cursor: pointer;
}

.img {
    position: absolute;
    left: 5rem;
    top: 21rem;
    width: 6rem;
}

.Signin {
    position: absolute;
    bottom: 3rem;
    right: 28rem;
}
@media (max-width: 768px) {
    

  body {
      min-height: 100vh;
  }



    
  .container {
    width: 95%;
  }

  #UserName,
  #Password,
  #phoneNumber,
  #acceptCode,
  #invitingCode,
  #btn {
    width: 90%; 
    left: auto;  
    right: 5%;
  }

  .Signin {
    position: fixed;
    bottom: 10px;
    right: 0;
    left: 0;
    text-align: center;
  }
  
   .img{
     left: 1rem;
     width: 5rem;
  }
  
.size-6{
    left:6.5rem;
    width: 2rem;
  }
  
.size-7{
    left:2rem;
 }
 
 #username,
 #password,
 #acceptcode{
     right: 5%;
     left: auto;
     text-align: right;
 }
}


